
.overshow {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 100;
    background-color: #fff;
    animation: showa .6s;
}

/*show 动画*/
@-webkit-keyframes showa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*game mouseover*/
.gameover {
    height: 236px;
    width: 450px;
    padding: 10px 0px 10px 0;
    border-radius: 0 0 5px 5px;
}

    .gameover > div {
        float: left;
    }

    .gameover .left {
        width: 265px;
        height: 100%;
    }

        .gameover .left > div {
            width: 240px;
            height: 128px;
            position: relative;
            left: 10px;
            border-radius: 5px;
            overflow: hidden;
        }

            .gameover .left > div a, .gameover .left > div img {
                width: 100%;
                height: 100%;
            }

        .gameover .left > a {
            width: 64px;
            height: 104px;
            padding: 10px 12px 0;
            float: left;
            /*background:#b22;*/
        }

            .gameover .left > a img {
                display: block;
                width: 64px;
                height: 64px;
                border-radius: 10px;
            }

            .gameover .left > a span {
                display: block;
                width: 100%;
                height: 18px;
                font-size: 14px;
                margin-top: 10px;
                text-align: center;
                overflow: hidden;
            }

    .gameover .right {
        width: 185px;
        height: 235px;
        z-index: 150;
        box-shadow: -5px 0px 4px -4px #B5B5B2;
    }

        .gameover .right .title {
            height: 30px;
            width: 96px;
            position: relative;
            left: -6px;
            background: url(../images/gameover_r.jpg) no-repeat;
        }

        .gameover .right ul {
            position: relative;
            top: -12px;
        }

            .gameover .right ul li {
                list-style-type: none;
                height: 28px;
            }

                .gameover .right ul li a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    font-size: 12px;
                    align-items: center;
                    text-indent: 15px;
                }

                    .gameover .right ul li a:hover {
                        background-color: #E6E9EF;
                        color: #3BA0D6;
                    }

/*zhibo mouseover*/
.zhiboover {
    height: 222px;
    width: 504px;
    border-radius: 0 0 5px 5px;
    padding: 20px 0px 20px 20px;
}

    .zhiboover > div {
        float: left;
    }

        .zhiboover > div > span {
            color: #EA759F;
            font-size: 14px;
            font-weight: bold;
        }

.zhiboover .left{
    width:252px;
    height:222px;
    border-right:1px solid #EAEAEA;
    /*background-color:#afc;*/
}
.zhiboover .left li{
    display:inline-block;
    position:relative;
    list-style-type:none;
    height:80px;
    width:64px;
    margin:15px 15px 5px 0;
    /*background-color:#aff;*/
}

.zhiboover .left li a{
    display:block;
    width:100%;
    height:64px;
    /*background-color:#aaf;*/
}
.zhiboover .left li a img{
    width:100%;
    width:100%;
    border-radius:32px;
}

.zhiboover .left li span{
    display:flex;
    height:16px;
    width:100%;
    /*position:relative;*/
    text-align:center;
    justify-content:center;
    font-size:12px;
    overflow:hidden;
}

.zhiboover .right{
    width:230px;
    height:209px;
    padding-left:20px;
    /*background-color:#acc;*/
}
.zhiboover .right a{
    display:block;
    width:208px;
    height:80px;
    position:relative;
    top:15px;
    margin-bottom:15px;
    border-radius:3px;
    overflow:hidden;
    /*background-color:#EA759F;*/
}
.zhiboover .right a img{
    height:100%;
    width:100%;
}

/*BW mouseover*/
.BWover {
    width: 375px;
    height: 232px;
    padding: 12px;
}

    .BWover div {
        position: relative;
        height: 110px;
        width: 375px;
        /*background-color:#b99;*/
    }

        .BWover div span {
            font-size: 12px;
            color: #fff;
            position: absolute;
            left: 5px;
            bottom: 3px;
        }

    .BWover .img1 {
        background: url(../images/BW_1.png);
    }

    .BWover .img2 {
        background: url(../images/BW_2.png);
        position: relative;
        top: 12px;
    }

/*下载APP mouseover*/
.downloadover {
    width: 260px;
    height: 174px;
    left: -21px;
    background: url(../images/orcode-frame.png);
    /*background-color:#d59;*/
}

    .downloadover:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background: url(../images/orcode.jpg);
        background-repeat: no-repeat;
        background-position: center 30px;
    }

/*大会员 mouseover*/
.bVIPover {
    height: 235px;
    width: 232px;
    left: -103px;
    font-size: 14px;
    color: #000;
    border-radius: 0 0 5px 5px;
    padding: 14px;
}

    .bVIPover .img {
        height: 140px;
        width: 237px;
        position: relative;
        top: 10px;
        /*background-color:#b11;*/
    }

        .bVIPover .img a {
            display: inline-block;
            height: 100%;
            width: 76px;
            font-size: 12px;
        }

            .bVIPover .img a span {
                position: relative;
                top: 5px;
            }

    .bVIPover button {
        margin: auto;
        width: 160px;
        height: 32px;
        position: relative;
        border: 0px;
        top: 40px;
        color: #fff;
        border-radius: 5px;
        background-color: #41B4E5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*消息 mouseover*/
.messageover {
    width: 112px;
    left: -35px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

    .messageover a {
        width: 112px;
        height: 42px;
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center;
    }

        .messageover a:hover {
            background-color: #E5E9EF;
            color: #54A8DC;
        }


/*index mouseover*/
/*动画 mouseover*/
.index-over {
    display:none;
    width: 130px;
    position: absolute;
    top: 55px;
    left: -10px;
    z-index: 100;
    /*overflow: hidden;*/
    border-radius: 0 0 5px 5px;
    background: #fff;
}

    .index-over li {
        width: 100%;
        list-style-type: none;
        height: 30px;
    }

        .index-over li:hover {
            background-color: #E5E9EF;
        }

        .index-over li a {
            height: 100%;
            width: 100%;
            z-index:223;
            position: relative;
        }
        /*.index-over li a > span span{
            display:inline-block;
            width:20px;
            height:30px;
            position:relative;
            left:100px;
            z-index:222;
            transition:0.2s linear;
            background: url(../images/icons2.png) 6px -1576px no-repeat;
        }*/

        /*伪元素方法*/
            /*.index-over li a:after {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                top: 17px;
                left: 120px;
                bottom: 0;
                right: 0;
                background: url(../images/icons2.png) 10px -1576px no-repeat;
            }*/

            .index-over li a > span {
                height: 100%;
                width: 100%;
                position: relative;
                left: 0px;
                font-size: 12px;
                display: flex;
                background-color: transparent;
                align-items: center;
                padding-left: 23px;
                transition:0.2s ease;
                background: url(../images/icons2.png) 10px -1613px no-repeat;
            }
.fjover{
    width:110px;
}
.gcover{
    width:116px;
}
.yyover{
    width:140px;
}
.lifeover{
    width:140px;
}
.gcover{
    width:140px;
}